boto3==1.7.49
botocore==1.10.49
docutils==0.14
Flask==1.0.2
Flask-Login==0.4.1
jmespath==0.9.3
python-dateutil==2.7.3
Werkzeug==0.14.1
passlib==1.7.1
PyMySQL==0.8.1
requests==2.2.1
s3transfer==0.1.13
six==1.11.0