
h2 {
    color: #EE6E74;
    text-align: center;
}

.recipe-page-header{
    color: #EE6E74;
    text-align: center;
}

.recipe-categories {
    text-align: center;
    color: #BF5896;
}

.recipe-img-row {
    text-align: center;
}
.recipe-img-row  img {
    width: 40vw;
    height: 40vw;
}

.add-recipe-header {
    color:#EE6E74 ;
    margin-left: 2%;
}

.userpage-recipes-header {
    padding-left: 2%;
    font-size: 2em;
    color: #CC444B;
}

.card-content {
    color: #AA242B;
}
.card .card-title{
    width: 100%;
    text-align: center;
    color: #CC444B !important;
}

.card .card-content {
    text-align: center;
}


.card .card-action {
    text-align: center;
}

.card .card-action a {
    margin-right: 0 !important;
}
form  .row{
    padding-left: 10px;
}

form h6{
    padding-left:10px;
}

form .btn-row{
    padding: 0;
    margin-top: -5%!important;
}



form .btn-row .col{
    padding: 0 !important;
}


form .instruction-input-field{
    margin-top: -1% !important;
    position:  relative;
}

form .required-explanation{
    margin-left: 4%;
    color: #9e9e9e;
}
form .submit-btn{
    margin-left: 3%;
    margin-bottom:2%;
}

.no-recipes-text {
    text-align: center;
    font-size: 1.5em;
    color: #EE6E74 ;
}

@media(min-width:750px) {
   form  .row{
    padding-left: 20px;
}

form h6{
    padding-left:20px;
} 

.recipe-img-row  img {
    width: 30vw;
    height: 30vw;
}


.userpage-recipes-header {
    margin-left: 0.5%;
    font-size: 3em;
}

}