 {% extends 'base.html' %} {% block content %} {{ testvalue }}
<h1>Add Recipe</h1>
<form method="POST" id="add-recipe">
    <div class="row">
        <label for="recipe-name">Recipe Name</label>
        <input type="text" name="recipe-name" id="recipe-name" placeholder="Flambéed chicken with asparagus">
    </div>
    <div class="row">
        <label for="recipe-img">Recipe Image</label>
        <input type="file" name="recipe-img" id="recipe-img" accept="image/*">
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select>
      <option value="1" selected>Easy</option>
      <option value="2">Normal</option>
      <option value="3">Challenging</option>
    </select>
            <label>Difficulty</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input id="serves" name="serves" type="number" value="4">
            <label>Serves</label>
        </div>
    </div>

    <div class="row">
        <label>Categories</label>
        <div class="chips chips-autocomplete"></div>
    </div>

    <div class="row">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" data-length="100" placeholder="A sentence or two about your dish(max 100 chars)"></textarea>
                <label for="textarea1">Blub</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input id="prep-hours" name="prep-hours" type="number" placeholder="Hours">
            <input id="prep-mins" name="prep-mins" type="number" placeholder="Minutes ">

            <label>Preparation Time</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input id="cooking-hours" name="cooking-hours" type="number" placeholder="Hours">
            <input id="cooking-mins" name="cooking-mins" type="number" placeholder="Minutes ">
            <label>Cooking Time</label>
        </div>
    </div>

    <div class="row">
        <label for="recipe-name">Quantity</label>
        <input type="text" name="quantity" id="quantity" placeholder="1/2 Teaspoon">
        <label for="recipe-name">Ingredient</label>
        <input type="text" name="ingredient" id="ingredient" placeholder="Honey">
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-ingredient"><i class="material-icons">add</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red" id="remove-ingredient"><i class="material-icons">remove</i></a>

    </div>


    <div class="row">
        <ol>
            <div class="row">
            <li class = "instruction-item-1">
                    <div class="input-field col s12">
                        <textarea id="instructions-1" class="materialize-textarea"></textarea>
                        <!--<label for="textarea1">Textarea</label>-->
                    </div>

            </li>
            </div>
             <a class="btn-floating btn-large waves-effect waves-light red" id="add-instruction"><i class="material-icons">add</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red" id="remove-instruction"><i class="material-icons">remove</i></a>
        </ol>
    </div>


</form>





{% endblock %}
 