<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection" />
    <title>Recipes</title>
</head>

<body>

    {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript">



$(document).ready(function() {
    $('select').material_select();
    
    
    $("#add-ingredient").click(function(){
        $(this).before(' <label for="recipe-name">Quantity</label> <input type="text" name="quantity" id="quantity" placeholder="1/2 Teaspoon">  <label for="recipe-name">Ingredient</label>  <input type="text" name="ingredient" id="ingredient" placeholder="Honey">')
    });
    
    
    
});

$(document).add()

//   $(document).ready(function() {
//         $("#add").click(function() {
//           $('#mytable tbody>tr:last').clone(true).insertAfter('#mytable tbody>tr:last');
//           return false;
//         });
//     });




$(function() {
    

  $('.chips-autocomplete').material_chip({
    autocompleteOptions: {
      data: {
        'Apple': null,
        'Microsoft': null,
        'Google': null
      },
      limit: Infinity,
      minLength: 1
    }
  });
     
  
});
    </script>
</body>

</html>
