<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection" />
    <title>Recipes</title>
</head>

<body>

    {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();

            count = 0;

            $("#add-ingredient").click(function() {
                count++;
                $(this).before(` <label for="recipe-name" class="label-${count}">Quantity</label> <input type="text" name="quantity" id="quantity-${count}" placeholder="1/2 Teaspoon">  <label for="recipe-name" class="label-${count}">Ingredient</label>  <input type="text" name="ingredient" id="ingredient-${count}" placeholder="Honey">`)
            });

            $("#remove-ingredient").click(function() {
                $(`#quantity-${count}`).remove();
                $(`#ingredient-${count}`).remove();
                $(`.label-${count}`).remove();
                count--;
            });



        });

        $(document).add()

        $(function() {


            $('.chips-autocomplete').material_chip({
                autocompleteOptions: {
                    data: {
                        'Apple': null,
                        'Microsoft': null,
                        'Google': null
                    },
                    limit: Infinity,
                    minLength: 1
                }
            });


        });
    </script>
</body>

</html>
