 {% extends 'base.html' %} {% block content %}
 <!--Displays flask flash messages. Code from: http://flask.pocoo.org/docs/1.0/patterns/flashing/-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

 
<h1 class="add-recipe-header">Edit Recipe</h1>
<form method="POST" id="add-recipe" enctype="multipart/form-data">
    <div class="row">
        <label for="recipe-name">Recipe Name*</label>
        <input type="text" name="recipe-name" id="recipe-name" value="{{ recipe['Name'] }}" placeholder="Flambéed chicken with asparagus" required>
    </div>

    <div class="row">
        <label for="recipe-img">Recipe Image</label>
        <input type="file" name="recipe-img" id="recipe-img" accept="image/*">
    </div>

    <div class="row">
        <div class="input-field col s6">
            <select class="difficulty-select" name="difficulty-select">
                {% if recipe["Difficulty"]=="Easy" %}
                <option value="0" selected>Easy</option>
                {% else %}
                <option value="0">Easy</option>
                {% endif %} {% if recipe["Difficulty"]=="Normal" %}
                <option value="1" selected>Normal</option>
                {% else %}
                <option value="1">Normal</option>
                {% endif %} {% if recipe["Difficulty"]=='Challenging' %}
                <option value="2" selected>Challenging</option>
                {% else %}
                <option value="2">Challenging</option>
                {% endif %}
            </select>
            <label>Difficulty</label>
        </div>
        <div class="input-field col s6">
            <input id="serves" name="serves" type="number" value="{{ recipe['Serves'] }}" required>
            <label>Serves*</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s9 m4">
            <label for="categories">Categories*</label> {% for category in recipe["Categories"] %}
            <input type="text" name="category-{{ loop.index-1 }}" id="category-{{ loop.index-1 }}" class="autocomplete categoriesAutocomplete" placeholder="Mexican, Vegetarian" value="{{ category }}" required> {% endfor %}
        </div>
    </div>

    <div class="row categories-btn-row btn-row">
        <div class="col s3 m3 offset-s9 offset-m0">
            <a class="btn-floating btn-small waves-effect waves-light red" id="add-category">
                <i class="material-icons">add</i>
            </a>
            <a class="btn-floating btn-small waves-effect waves-light red" id="remove-category">
                <i class="material-icons">remove</i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <textarea id="blurb" name="blurb" class="materialize-textarea" data-length="100" placeholder="A sentence or two about your dish(max 100 chars)">{% if recipe["Blurb"] %}{{ recipe["Blurb"] }}{% endif %}</textarea>
            <label for="blurb">Blurb</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input id="prep-hours" name="prep-hours" class="col s4" type="number" value="{{ time_dictionary['PrepHours'] }}" placeholder="Hours" required>
            <input id="prep-mins" name="prep-mins" type="number" max="59" class="col s4 offset-s1" value="{{ time_dictionary['PrepMins'] }}" placeholder="Minutes " required>
            <label>Preparation Time*</label>
        </div>
        <div class="input-field col s6">
            <input id="cook-hours" name="cook-hours" class="col s4" type="number" value="{{ time_dictionary['CookHours'] }}" placeholder="Hours" required>
            <input id="cook-mins" name="cook-mins" class="col s4 offset-s1" type="number" max="59" value="{{ time_dictionary['CookMins'] }}" placeholder="Minutes " required>
            <label>Cooking Time*</label>
        </div>
    </div>

    <h6>Ingredients:*</h6>
    {% for ingredient in recipe["Ingredients"] %}
    <div class="row ingredient-row ingredient-row-0">
        <div class="input-field col s4">
            <label for="quantity">Quantity</label>
            <input type="text" name="quantity-{{ loop.index -1 }}" id="quantity-{{ loop.index -1 }}" value="{{ ingredient['Quantity'] }}" placeholder="1/2 Teaspoon" required>
        </div>
        <div class="input-field col s4">
            <label for="ingredient">Ingredient</label>
            <input type="text" name="ingredient-{{ loop.index - 1 }}" id="ingredient-{{ loop.index -1 }}" class="autocomplete ingredientsAutocomplete" value="{{ ingredient['Ingredient'] }}" placeholder="Honey" required>
        </div>
    </div>
    {% endfor %}

    <div class="row ingredient-btn-row btn-row">
        <div class="col s3 m3 offset-s9 offset-m0">
            <a class="btn-floating btn-small waves-effect waves-light red" id="add-ingredient">
                <i class="material-icons">add</i>
            </a>
            <a class="btn-floating btn-small waves-effect waves-light red" id="remove-ingredient">
                <i class="material-icons">remove</i>
            </a>
        </div>
    </div>

    <h6>Instructions:*</h6>
    <ol>
        {% for instruction in recipe["Instructions"] %}
        <div class="row instruction-row-{{ loop.index }}">
            <li>
                <div class="instruction-input-field col s10">
                    <textarea id="instruction-{{ loop.index }}" name="instruction-{{ loop.index }}" class="materialize-textarea">{{ instruction|safe }}</textarea>
                </div>
            </li>
        </div>
        {% endfor %}

        <div class="row instruction-btn-row btn-row">
            <div class="col s3 m3 offset-s9 offset-m0">
                <a class="btn-floating btn-small waves-effect waves-light red" id="add-instruction">
                    <i class="material-icons">add</i>
                </a>
                <a class="btn-floating btn-small waves-effect waves-light red" id="remove-instruction">
                    <i class="material-icons">remove</i>
                </a>
            </div>
        </div>

    </ol>

    <p class="required-explanation">*Required field</p>
    <button class="btn waves-effect waves-light submit-btn" type="submit">Submit
        <i class="material-icons right">send</i>
    </button>
</form>
<script>

    function autocompleteFunction(){
        //enables autocomplete functionality for ingredients and categories 
        //code partly from: https://materializecss.com/autocomplete.html
        $('input.categoriesAutocomplete').autocomplete({
            data: {
              {% for category in categories %}  "{{ category }}": null, {% endfor %}
            },
        });
        
         $('input.ingredientsAutocomplete').autocomplete({
            data: {
              {% for ingredient in ingredients %}  "{{ ingredient }}": null, {% endfor %}
            },
        });
    }
    
        $(document).ready(function() {
            autocompleteFunction()
    });
</script>
{% endblock %}