 {% extends 'base.html' %} {% block content %}
<h1>Search</h1>



<form method="POST" id="filter" >

    <div class="row">
        <div class="input-field col s4">
            <label for="categories">Categories</label>
            <input type="text" name="category-0" id="category-0" class="autocomplete categoriesAutocomplete" placeholder="Mexican, Vegetarian">
        </div>
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-category"><i class="material-icons">add</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red" id="remove-category"><i class="material-icons">remove</i></a>
    </div>
    
    
<h6>Ingredients:</h6>
    <div class="row ingredient-row-0">
        <div class="input-field col s4">
            <label for="ingredient">Ingredient</label>
            <input type="text" name="ingredient-0" id="ingredient-0" class="autocomplete ingredientsAutocomplete" value="Suger" placeholder="Honey" required>
        </div>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light red" id="add-filter-ingredient"><i class="material-icons">add</i></a>
    <a class="btn-floating btn-large waves-effect waves-light red" id="remove-ingredient"><i class="material-icons">remove</i></a>

<div class="row">
<div class="input-field col s3">
    <select name="min-score">
      <option value="" disabled selected>Min Review Score</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
</div>
<div class="input-field col s3">
    <select name="max-score">
      <option value="" disabled selected>Max Review Score</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
</div>
</div>

    <div class="row">
        <div class="input-field col s6">
            <input id="min-hours" name="min-hours" class="col s4" type="number" value="02" placeholder="Hours">
            <input id="min-mins" name="min-mins" type="number" value="20" max="59" class="col s4 offset-s1" placeholder="Minutes " >
            <label>Min Cooking Time</label>
        </div>
        <div class="input-field col s6">
            <input id="max-hours" name="max-hours" class="col s4" value="9" type="number" placeholder="Hours" >
            <input id="max-mins" name="max-mins" class="col s4 offset-s1" value="15" type="number" max="59" placeholder="Minutes " >
            <label>Max Cooking Time</label>
        </div>
    </div>
    
    <div class="input-field col s12">
    <select multiple name="difficulties-filter">
      <option value="" disabled selected>Difficulty</option>
      <option value="0">Easy</option>
      <option value="1">Normal</option>
      <option value="2">Challenging</option>
    </select>
  </div>

    <input type="submit" value="Submit">

</form>
<script>
function autocompleteFunction(){
            
        $('input.categoriesAutocomplete').autocomplete({
            data: {
              {% for category in categories %}  "{{ category }}": null, {% endfor %}
            },

        });
        
          $('input.ingredientsAutocomplete').autocomplete({
            data: {
              {% for ingredient in ingredients %}  "{{ ingredient }}": null, {% endfor %}
            },

        });
    }
    
    
        $(document).ready(function() {
            autocompleteFunction()
    });
</script>

{% endblock %}
