 {% extends 'base.html' %} {% block content %}
 
 <!--from: http://flask.pocoo.org/docs/1.0/patterns/flashing/-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

 
<h1>Search</h1>


  <ul id="slide-out" class="sidenav">
  <li class="filters-title">Filters:</li>
    <div class="row">
  <div class="col s12">
<form method="POST" id="filter">

  <ul class="collapsible">
    <li>
      <div class="collapsible-header">Categories</div>
      <div class="collapsible-body">

        <div class="row">
          <div class="input-field col s12">
            <label for="categories">Categories</label>
            <input type="text" name="category-0" id="category-0" class="autocomplete categoriesAutocomplete" placeholder="Mexican, Vegetarian">
          </div>
          <a class="btn-floating btn-large waves-effect waves-light red" id="add-category"><i class="material-icons">add</i></a>
          <a class="btn-floating btn-large waves-effect waves-light red" id="remove-category"><i class="material-icons">remove</i></a>
        </div>

      </div>
    </li>

    <li>
      <div class="collapsible-header">Ingredients</div>
      <div class="collapsible-body">

        <div class="row ingredient-row-0">
          <div class="input-field col s12">
            <label for="ingredient">Ingredient</label>
            <input type="text" name="ingredient-0" id="ingredient-0" class="autocomplete ingredientsAutocomplete" value="Suger" placeholder="Honey" required>
          </div>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light red" id="add-filter-ingredient"><i class="material-icons">add</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red" id="remove-ingredient"><i class="material-icons">remove</i></a>

      </div>
    </li>

    <li>
      <div class="collapsible-header">Average Review Score</div>
      <div class="collapsible-body">

        <div class="row">
          <div class="input-field col s12">
            <select name="min-score">
      <option value="" disabled selected>Min Review Score</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
          </div>
          <div class="input-field col s12">
            <select name="max-score">
      <option value="" disabled selected>Max Review Score</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header">Cooking Time</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s12">
            <input id="min-hours" name="min-hours" class="col s4" type="number" placeholder="Hours">
            <input id="min-mins" name="min-mins" type="number" max="59" class="col s4 offset-s1" placeholder="Minutes ">
            <label>Min Cooking Time</label>
          </div>
          <div class="input-field col s12">
            <input id="max-hours" name="max-hours" class="col s4" type="number" placeholder="Hours">
            <input id="max-mins" name="max-mins" class="col s4 offset-s1" type="number" max="59" placeholder="Minutes ">
            <label>Max Cooking Time</label>
          </div>
        </div>

      </div>
    </li>

    <li>
      <div class="collapsible-header">Difficulty</div>
      <div class="collapsible-body">
<div class="row">
        <div class="input-field col s12">
          <select multiple name="difficulties-filter">
      <option value="" disabled selected>Difficulty</option>
      <option value="0">Easy</option>
      <option value="1">Normal</option>
      <option value="2">Challenging</option>
    </select>
        </div>
</div>
      </div>
    </li>


  </ul>

    <button class="btn waves-effect waves-light search-btn" type="submit">Search <i class="material-icons left">search</i></button>

</form>

</div>
</div>

  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-light btn">Search Recipes</a>


{% if recipes_list %}
  <div class="row">
  <div class="col s12">
      <ul class="tabs">
                        <li class="tab col s3"><a href="#search1">1</a></li>

{% for recipe in recipes_list %}

{% if loop.index % 10 == 0 %}
                <li class="tab col s3"><a href="#search{{ (loop.index // 10) + 1 }}">{{ (loop.index// 10) + 1 }}</a></li>
{% endif %}

{% endfor %}
        </div>
        </ul>
  </div>



{% endif %}


{% if recipes_list %}

{% if recipes_list == 'no_results' %}
<h2>No Search Results Found</h2>
{% else %}
<h2>Search Results:</h2>

<div id="search1" class="col s12">
{% for recipe in recipes_list %}

{% if loop.index % 10 == 0 %}
                <div id="search{{ (loop.index // 10) + 1}}" class="col s12">
{% endif %}

  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
            {% if recipe["ImageName"] %}
            <img src="/static/images/{{ recipe['ImageName'] }}" alt="Recipe Image">
            {% else %}
            <img src="https://cdn.pixabay.com/photo/2016/01/03/00/43/upload-1118929_960_720.png" alt="No Image">
            {% endif %}
            
          <span class="card-title">{{ recipe["Name"] }}</span>
        </div>
        <div class="card-content">
                     <span class="score"> {{ recipe["Score"] }}</span>
            {% if recipe["Blurb"] %}
          <p>{{ recipe["Blurb"] }}</p>
          {% else %}
          <p>No blurb Submitted</p>
          {% endif %}
        </div>
        <div class="card-action">
          <a href="/recipe/{{ recipe['Id'] }}">View Recipe</a>
        </div>
      </div>
    </div>
  </div>
  
  
  {% if (loop.index + 1) % 10 == 0 %}
          </div>
{% endif %}



{% endfor %}
{% endif %}


{% endif %}
<script>
function autocompleteFunction(){
            
        $('input.categoriesAutocomplete').autocomplete({
            data: {
              {% for category in categories %}  "{{ category }}": null, {% endfor %}
            },

        });
        
          $('input.ingredientsAutocomplete').autocomplete({
            data: {
              {% for ingredient in ingredients %}  "{{ ingredient }}": null, {% endfor %}
            },

        });
    }
    
    
        $(document).ready(function() {
            autocompleteFunction()
    });
</script>

{% endblock %}
