 <!-- displays error message if applicable  -->
 {% extends 'base.html' %} {% block content %}
<p class="error"> {{ error }}</p>

<!--Displays flask flash messages. Code from: http://flask.pocoo.org/docs/1.0/patterns/flashing/-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Login</h2>
<div class="row">
    <form class="col s12" method="POST">

        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Username" id="login-username" name="login-username" type="text" required>
                <label for="login-username">Username</label>
            </div>
            <div class="input-field col s6">
                <input id="password" type="password" name="password" required>
                <label for="password">Password</label>
            </div>
        </div>

        <input type="submit" value="Submit">
    </form>
</div>

<div class="row">
    <div class="col sm12">
        <p class="register-text">Haven't created an account?
            <br>
            <a class="waves-effect waves-light btn" href="/register">Register Now</a>
        </p>
    </div>
</div>

{% endblock %}
 