    <!--template from: https://materializecss.com/navbar.html-->
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Recipe Wiki</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <ul id="nav-mobile" class="right hide-on-med-and-down ">
                <li>
                    <a href="/">Search</a>
                </li>
                <li>
                    <a href="/addrecipe">Add Recipe</a>
                </li>
                <li>
                    <a href="/visualizedata">Visualize Data</a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="/userpage/{{ current_user.id}}">{{ current_user.username[0] }}'s Profile</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <!--https://materializecss.com/navbar.html-->
    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="/">Search</a>
        </li>
        <li>
            <a href="/addrecipe">Add Recipe</a>
        </li>
        <li>
            <a href="/visualizedata">Visualize Data</a>
        </li>
        {% if current_user.is_authenticated %}
        <li>
            <a href="/userpage/{{ current_user.id}}">{{ current_user.username[0] }}'s Profile</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
        {% endif %}
    </ul>
