 {% extends 'base.html' %} {% block content %} 

<h1>{{ recipe["Name"] }}</h1>

<h4>
{% for category in recipe["Categories"] %}
{{ category }}
{% if not loop.last %}
,
{% endif %}
{% endfor %}
</h4>

{% if recipe["ImageName"] %}
<img src="/static/images/{{ recipe['ImageName'] }}" alt="Recipe Image">
{% else %}
<img src="https://cdn.pixabay.com/photo/2016/01/03/00/43/upload-1118929_960_720.png" alt="No Image">
{% endif %}
<p>{{ recipe["Blurb"] }}</p>
<p>From user {{ recipe["Username"] }}</p>

<p>Reivew Score: {{ review_score }}</p>
<p>Number of Reviews: {{ recipe["Reviews"]|length }}</p>
<form method="POST">
    <div class="input-field col s12">
        <!--onchange code from: https://stackoverflow.com/questions/19086737/how-do-i-auto-submit-a-dropdown-when-a-value-is-selected-other-than-the-first-va-->
        <select class="user-review" name="user-review" onchange='if(this.value != "") { this.form.submit(); }'>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
      <option value="4">Option 4</option>
      <option value="5">Option 5</option>
    </select>
        <label>Materialize Select</label>
    </div>
</form>

      <button onclick="location.href='/addtofavourites/{{ recipe_id }}'" class="btn waves-effect waves-light submit-btn"  type="submit">Submit <i class="material-icons right">send</i></button>


<p>Difficulty: {{ recipe["Difficulty"] }}</p>
<p>{{ recipe["PrepTime"] }}
{{ recipe["CookTime"] }}</p>
</p>
<p>Serves {{ recipe["Serves"] }}</p>

<ul>
    {% for ingredient in recipe["Ingredients"] %}
    <li>{{ ingredient["Quantity"] }} {{ ingredient["Ingredient"] }}</li>
    {% endfor %}
</ul>

<ol>
    {% for instruction in recipe["Instructions"] %}
    <li>{{ instruction }}</li>
    {% endfor %}
</ol>

{% endblock %}