 {% extends 'base.html' %} {% block content %} 

<h1>{{ recipe["Name"] }}</h1>

<h4>
{% for category in recipe["Categories"] %}
{{ category }}, 
{% endfor %}
</h4>

{% if recipe["ImageName"] %}
<img src="/static/images/{{ recipe['ImageName'] }}" alt="Recipe Image">
{% else %}
<img src="https://cdn.pixabay.com/photo/2016/01/03/00/43/upload-1118929_960_720.png">
{% endif %}
<p>{{ recipe["Blurb"] }}</p>
<p>From user {{ recipe["Username"] }}</p>

<p>Reivew Score: {{ review_score }}</p>
<p>Number of Reviews: {{ recipe["Reviews"]|length }}</p>

<p>Difficulty: {{ recipe["Difficulty"] }}</p>
<p>{{ recipe["PrepTime"] }}
{{ recipe["CookTime"] }}</p>
</p>
<p>Serves {{ recipe["Serves"] }}</p>

<ul>
    {% for ingredient in recipe["Ingredients"] %}
    <li>{{ ingredient["Quantity"] }} {{ ingredient["Ingredient"] }}</li>
    {% endfor %}
</ul>

<ol>
    {% for instruction in recipe["Instructions"] %}
    <li>{{ instruction }}</li>
    {% endfor %}
</ol>

{% endblock %}