 {% extends 'base.html' %} {% block content %}
    

    <div id="chart"></div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!--<script type="text/javascript" src="static/js/graph.js"></script>-->

    <script>


let stringData = "{{ imported_data|safe }}";

// below line of code from: https://stackoverflow.com/questions/16450250/javascript-replace-single-quote-with-double-quote
let stringDataWithDoubleQuotes = stringData.replace(/'/g, '"');


console.log(stringDataWithDoubleQuotes)

var data = JSON.parse(stringDataWithDoubleQuotes);

console.log(data[0]);
// console.log(data[0])

$(function() {
  console.log('jquery is working!');
  createGraph();
});

function createGraph() {
  // Code goes here
  d3.select("#chart").text("test");
  
}

    </script>
    

{% endblock %}